<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Travel Geek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
     <link rel="stylesheet" href="/css/styles.css" /> 
  </head>
  <body>
    {{{body}}}
    

<script src="/js/logout.js"></script>
  </body>
</html>

