<body> 
  <nav>
        <button id="logout" > Logout </button>
        <a href="/profile" class="link">Profile</a>
        <a href="/" class="link">Home</a>
  </nav>
    <header>
        <h1>My Travel Budget</h1>
        <body style="background-image: url('/assets/Lake-Tahoe-in-summer.png">
    </header>
    {{!-- <div class="box"> --}}
      <div>
         {{!-- <h3>Starting Budget</h3> --}}
         <p id = "starting-budget-header" class = "starting-budget">Please, enter your starting budget here: <input id="budget_input" type = "number">
         <button id="submit_budget">Submit</button></p>
         
      </div>
      
       <div class="box">
          <div class="card">
            <h5>Add Expenses</h5>
          </div>
         <div class="card">
           <h5>Remove Expenses</h5>
         </div>
        </div>
    </div>
   
   <table>
  <tr>
    <th>Date</th>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>Date 1</td>
    <td>Category</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Date 2</td>
    <td>Category</td>
    <td>$150</td>
  </tr>
  <tr>
    <td>Date 3</td>
    <td>Category</td>
    <td>$200</td>
  </tr>
</table>

     <footer>
        <div>
            
            <a href="https://www.hotels.com/">Hotel.com</a>
            <a href="https://www.expedia.com/">Expedia.com</a>
            <a href="https://www.airbnb.com/">Airbnb</a>
        </div>
        <div>
            
            <a href="https://www.viator.com/?pid=P00095857&mcid=42383&medium=link&campaign=a009s8y13&gclid=CjwKCAjwxOymBhAFEiwAnodBLDAUOJgmTG1Rk_sfRlmlrAzU97KfPUXr-NX95PRQB6d56TRgt98-SxoC37MQAvD_BwE">Viator</a>
            <a href="https://www.hertz.com/rentacar/reservation/">Hertz</a>
            <a href="https://www.enterprise.com/en/car-rental/campaigns/rent-a-car-b.html?gclid=CjwKCAjwivemBhBhEiwAJxNWN3R8vsy1946QbZEkeNiBV7N2bijAtZZhZii0lF3zyJzfPxaK2GO2MhoCeYkQAvD_BwE&mcid=paidsearch:33337680&targetid=aud-294572907991:kwd-299987501942&ef_id=CjwKCAjwivemBhBhEiwAJxNWN3R8vsy1946QbZEkeNiBV7N2bijAtZZhZii0lF3zyJzfPxaK2GO2MhoCeYkQAvD_BwE:G:s&s_kwcid=AL!4824!3!615867649890!b!!g!!enterprise%20location%20near%20me!20420986450!150592858303&campaignid=20420986450&gclsrc=aw.ds/">Entreprise</a>
        </div>
    </footer>
    <script src="./js/budget.js"></script>
</body>
</html>
