<body> <nav>
        <button id="logout" > Logout </button> 
        <a href="/profile">Profile</a>
        <a href="/">Home</a>
    </nav>
    <header>
        {{!-- <h1>My Budget</h1> --}}
        <body style="background-image: url('/assets/Golden-Gate-Bridge.jpg'); background-size: cover;">
    </header>
    {{!-- <div class="box"> --}}
      <div>
         {{!-- <h3>Starting Budget</h3> --}}
         <p class="starting-budget">Please Enter Your Starting Budget Here:</p>
         <input id="budget_input" type = "number">
         <button id="submit_budget">Submit</button>
      </div>
      
       <div class="box">
          <div class="card">
            <h5>Add Expenses</h5>
          </div>
         <div class="card">
           <h5>Remove Expenses</h5>
         </div>
        </div>
    </div>
   
   <table>
  <tr>
    <th>Date</th>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>Date 1</td>
    <td>Category</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Date 2</td>
    <td>Category</td>
    <td>$150</td>
  </tr>
  <tr>
    <td>Date 3</td>
    <td>Category</td>
    <td>$200</td>
  </tr>
</table>

    <footer>
        <div>
            <span>Links to:</span>
            <a href="https://www.hotels.com/">Hotel.com</a>
            <a href="https://www.expedia.com/">Expedia.com</a>
        </div>
        <div>
            <span>Travel Resources:</span>
            <a href="https://www.viator.com/?pid=P00095857&mcid=42383&medium=link&campaign=a009s8y13&gclid=CjwKCAjwxOymBhAFEiwAnodBLDAUOJgmTG1Rk_sfRlmlrAzU97KfPUXr-NX95PRQB6d56TRgt98-SxoC37MQAvD_BwE">Viator</a>
            <a href="#">Resource 2</a>
        </div>
    </footer>
    <script src="./js/budget.js"></script>
</body>
</html>
