<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
   <link rel="stylesheet" href="/css/styles.css">
   <body style="background-image: url('/assets/1140-grand-canyon-south-rim.imgcache.rev.web.700.403.jpg'); background-size: cover;"></body>
</head>
<body style="background-image: url('/assets/background-images.png'); background-size: cover;">
    <header>
        <h1>Welcome to Travel Geeks</h1>
        <h4>Travel with confidence, knowing that you have a powerful tool to ensure your trip is both memorable and financially stress-free.
        join countless explorers who've embraced the ease of tracking expenses and enjoying a well-organized itinerary. </p>
        Make the most of your travels - download our app today and journey smarter!</h4>
    </header>
    <nav>
        <p></p>
        
       <a href="/login"> <button>Login | Signup</button> </a>
    </nav>
    <footer>
        <div>
            
            <a href="https://www.hotels.com/">Hotel.com</a>
            <a href="https://www.expedia.com/">Expedia.com</a>
            <a href="https://www.airbnb.com/">Airbnb</a>
        </div>
        <div>
            
            <a href="https://www.viator.com/?pid=P00095857&mcid=42383&medium=link&campaign=a009s8y13&gclid=CjwKCAjwxOymBhAFEiwAnodBLDAUOJgmTG1Rk_sfRlmlrAzU97KfPUXr-NX95PRQB6d56TRgt98-SxoC37MQAvD_BwE">Viator</a>
            <a href="https://www.hertz.com/rentacar/reservation/">Hertz</a>
            <a href="https://www.enterprise.com/en/car-rental/campaigns/rent-a-car-b.html?gclid=CjwKCAjwivemBhBhEiwAJxNWN3R8vsy1946QbZEkeNiBV7N2bijAtZZhZii0lF3zyJzfPxaK2GO2MhoCeYkQAvD_BwE&mcid=paidsearch:33337680&targetid=aud-294572907991:kwd-299987501942&ef_id=CjwKCAjwivemBhBhEiwAJxNWN3R8vsy1946QbZEkeNiBV7N2bijAtZZhZii0lF3zyJzfPxaK2GO2MhoCeYkQAvD_BwE:G:s&s_kwcid=AL!4824!3!615867649890!b!!g!!enterprise%20location%20near%20me!20420986450!150592858303&campaignid=20420986450&gclsrc=aw.ds/">Entreprise</a>
        </div>
    </footer>
</body>
</html>
