<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
   <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <h1>Travel Geeks Dashboard</h1>
    </header>
    <nav>
        <button>Login</button>
        <button>Signup</button>
    </nav>
    <footer>
        <div>
            <span>Links to:</span>
            <a href="https://www.hotels.com/">Link 1</a>
            <a href="https://www.expedia.com/">Link 2</a>
        </div>
        <div>
            <span>Travel Resources:</span>
            <a href="https://www.viator.com/?pid=P00095857&mcid=42383&medium=link&campaign=a009s8y13&gclid=CjwKCAjwxOymBhAFEiwAnodBLDAUOJgmTG1Rk_sfRlmlrAzU97KfPUXr-NX95PRQB6d56TRgt98-SxoC37MQAvD_BwE">Resource 1</a>
            <a href="#">Resource 2</a>
        </div>
    </footer>
</body>
</html>
