<!DOCTYPE html>
<html lang="en">
    <nav>
        <button id="logout" > Logout </button> 
    </nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Travel Geeks</h1>
        {{!-- <img src="/assets/background-images .png"> --}}
    </header>
    <nav>
       <a href="/login"> <button>Login/Signup</button> </a>
    </nav>
    <footer>
        <div>
            <span>Links to:</span>
            <a href="https://www.hotels.com/">Hotel.com</a>
            <a href="https://www.expedia.com/">Expedia.com</a>
        </div>
        <div>
            <span>Travel Resources:</span>
            <a href="https://www.viator.com/?pid=P00095857&mcid=42383&medium=link&campaign=a009s8y13&gclid=CjwKCAjwxOymBhAFEiwAnodBLDAUOJgmTG1Rk_sfRlmlrAzU97KfPUXr-NX95PRQB6d56TRgt98-SxoC37MQAvD_BwE">Viator</a>
            <a href="#">Resource 2</a>
        </div>
    </footer>
</body>
</html>
