<h1>Itinerary</h1>
<nav>
        <button id="logout" > Logout </button> 
    </nav>

    </nav>
    <header>
        <h1></h1>
        <body style="background-image: url('/assets/Yellowstone_CastleGeyser.jpg'); background-size: cover;">
    </header>
   