<script id="loginFormTemplate" type="text/x-handlebars-template">
    <form id="loginForm">
        <h2>Login</h2>
        <input type="text" id="loginUsername" placeholder="Username">
        <input type="password" id="loginPassword" placeholder="Password">
        <button id="loginBtn">Login</button>
    </form>
</script>

<script id="signUpFormTemplate" type="text/x-handlebars-template">
    <form id="signUpForm">
        <h2>Sign Up</h2>
        <input type="text" id="signupUsername" placeholder="Username">
        <input type="password" id="signupPassword" placeholder="Password">
        <button id="signupBtn">Sign Up</button>
    </form>
</script>