{{!-- <nav>
    <button id="logout" > Logout </button> 
</nav> --}}
   <header>
        <h1>Your Travel Geeks Portal</h1>
        <h2></h2>
        <body style="background-image: url('/assets/background-images.png'); background-size: cover;">
    </header>
    
    <form class="loginForm">
        <h2>Login</h2>
        <input type="text" id="loginEmail" placeholder="Email" class="textBox">
        <input type="password" id="loginPassword" placeholder="Password" class="textBox">
        <button id="loginBtn" class="button">Login</button>
    </form>



    <form class="signUpForm">
        <h2>Sign Up</h2>
        <input type="text" id="signupName" placeholder="Name" class="textBox">
        <input type="text" id="signupEmail" placeholder="Email" class="textBox">
        <input type="password" id="signupPassword" placeholder="Password" class="textBox">
        <button id="signupBtn" class="button">Sign Up</button>
    </form>

<script src="./js/login.js"></script>