{{!-- <nav>
    <button id="logout" > Logout </button> 
</nav> --}}
   <header>
        <h1></h1>
        <body style="background-image: url('/assets/background-images.png'); background-size: cover;">
    </header>
    
    <form id="loginForm">
        <h2>Login</h2>
        <input type="text" id="loginEmail" placeholder="Email">
        <input type="password" id="loginPassword" placeholder="Password">
        <button id="loginBtn">Login</button>
    </form>



    <form id="signUpForm">
        <h2>Sign Up</h2>
        <input type="text" id="signupName" placeholder="Name">
        <input type="text" id="signupEmail" placeholder="Email">
        <input type="password" id="signupPassword" placeholder="Password">
        <button id="signupBtn">Sign Up</button>
    </form>

<script src="./js/login.js"></script>