@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Permanent+Marker&display=swap');



  body {
  margin: 0;
  padding: 0;

  /*background-image: url('/assets/background-images.png');*/

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 80px;
  font-family: 'Oleo Script', cursive;
  color: white;
  margin: 0;
  padding: 10px;
}

h2 {
  font-size: 50px;
  color: rgb(33, 66, 33);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
  font-size: 25px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: rgba(255, 247, 0, 0.899);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}



header {
  color: white;
  text-align: center;
  padding: 15px;
  font-size: large;
}


nav {
  flex-direction: column; /* Stack items vertically */
    text-align: center;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 30px;
  background-color: rgb(142, 94, 30);
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 65%; /* Position at the vertical center */
  left: 50%; /* Position at the horizontal center */
  transform: translate(-50%, -50%); /* Adjust for center alignment */
  color: #f4f4f4;
}


main {
  flex-grow: 1;
}

.starting-budget {
  font-size: 30px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;

}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  max-width: 400px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(195, 185, 50);
}

.card header {
  text-align: center;
  margin-bottom: 10px;
}

.card {
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.card h5 {
  margin: 5px 10px 5px 0;
  font-size: 1rem;
  color: white;
  display: inline;
  text-align: center;
  padding: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  text-align: end;
  cursor: pointer;
  position: relative;
 
}
nav a:hover {
  background-color: #e74c3c;

}

#budget_input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 150px;
}
#submit_budget {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0c3d5b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
#submit_budget:hover {
  background-color: #0c3d5b;
}


table {
  border-collapse: collapse;
  margin-left: 40px;
  margin-right: 100px;
}
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: black;
    background-color: #f2f2f2;
  }

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: white;
  
}

 

#logout {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: 30px;
  
}

#logout:hover {
  background-color: #c0392b;
}



footer {
  background-color: #f4f4f4;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  position: relative; /* Position the footer relative to the parent */
  margin-top: auto; /* Push the footer to the bottom */
}

.footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

